<p>customer works!</p>
<form (ngSubmit)="(onSubmit)">
  <input
    type="text"
    name="customerId"
    [(ngModel)]="customerId"
    placeholder="Please Add Customer Id"
  /><br />
  <input
    type="text"
    name="phoneNumber"
    [(ngModel)]="phoneNumber"
    placeholder="phone number"
  /><br />
  <input
    type="text"
    name="userName"
    [(ngModel)]="userName"
    placeholder="User Name"
  /><br />
  <input
    type="text"
    name="password"
    [(ngModel)]="password"
    placeholder="Password"
  /><br />
  <input
    type="text"
    name="firstName"
    [(ngModel)]="firstName"
    placeholder="First Name"
  /><br />
  <input
    type="text"
    name="middleName"
    [(ngModel)]="middleName"
    placeholder="Middle Name"
  /><br />
  <input
    type="text"
    name="lastName"
    [(ngModel)]="lastName"
    placeholder="Last Name"
  /><br />
  <input
    type="text"
    name="maritalStatus"
    [(ngModel)]="maritalStatus"
    placeholder="Marital Status"
  /><br />
  <input
    type="text"
    name="gender"
    [(ngModel)]="gender"
    placeholder="Gender"
  /><br />
  <input
    type="text"
    name="motherFullName"
    [(ngModel)]="motherFullName"
    placeholder="Mother Name"
  /><br />
  <input
    type="text"
    name="emailId"
    [(ngModel)]="emailId"
    placeholder="Email"
  /><br />
  <input
    type="text"
    name="birthDate"
    [(ngModel)]="birthDate"
    placeholder="Please Add birth Date"
  /><br />
  <input type="submit" value="submit" />
</form>
